@font-face {
    font-family:"Sul Sans Regular";
    src:url("SulSansRegular.woff2") format("woff2"),url("SulSansRegular.woff") format("woff"),url("SulSansRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
  }
  
  @font-face {
    font-family:"Sul Sans Medium";
    src:url("SulSansMedium.woff2") format("woff2"),url("SulSansMedium.woff") format("woff"),url("SulSansMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
  }
  
  @font-face {
    font-family:"Sul Sans Light";
    src:url("SulSansLight.woff2") format("woff2"),url("SulSansLight.woff") format("woff"),url("SulSansLight.otf") format("opentype");
    font-style:normal;font-weight:400;
  }
  
  @font-face {
    font-family:"Sul Sans Bold";
    src:url("SulSansBold.woff2") format("woff2"),url("SulSansBold.woff") format("woff"),url("SulSansBold.otf") format("opentype");
    font-style:normal;font-weight:400;
  }
  
  @font-face {
    font-family:"Sul Sans Bold Italic";
    src:url("SulSansBoldItalic.woff2") format("woff2"),url("SulSansBoldItalic.woff") format("woff"),url("SulSansBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
  }
  